<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.WindowsAzure.TransientFaultHandling, Version=5.1.1209.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <!--<section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="dataCacheClients" type="Microsoft.ApplicationServer.Caching.DataCacheClientsSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere" />
    <section name="cacheDiagnostics" type="Microsoft.ApplicationServer.Caching.AzureCommon.DiagnosticsConfigurationSection, Microsoft.ApplicationServer.Caching.AzureCommon" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="Incremental Retry Strategy">
    <incremental name="Incremental Retry Strategy" />
    <fixedInterval name="Fixed Interval Retry Strategy" />
    <exponentialBackoff name="Exponential Backoff Retry Strategy" />
  </RetryPolicyConfiguration>
  <!--<typeRegistrationProvidersConfiguration>
    <clear />
    <add name="Caching" sectionName="cachingConfiguration" />
    <add name="Cryptography" sectionName="securityCryptographyConfiguration" />
    <add name="Exception Handling" sectionName="exceptionHandling" />
    <add name="Instrumentation" sectionName="instrumentationConfiguration" />
    <add name="Logging" sectionName="loggingConfiguration" />
    <add name="Policy Injection" sectionName="policyInjection" />
    <add name="Security" sectionName="securityConfiguration" />
    <add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
    <add name="RetryPolicyConfiguration" sectionName="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>-->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="Microsoft.AspNet.FriendlyUrls" />
      </namespaces>
    </pages>
    <machineKey decryption="AES" decryptionKey="F7FA540B4DFD82E5BB196B95D15FF81FE9BF5C7DEAAEBE4F338B2A6B9BA39FBE" validation="SHA1" validationKey="E9BF5C7DEAAEBE4F338B2A6B9BA39FBEE9FAEACB9DE62168764FF0DCE537184F0535D5D9AD66DEDCE9BF5C7DEAAEBE4F338B2A6B9BA39FBEE9FAEACB97DC1ABF" />
    <!-- Windows Azure Caching session state provider -->
    <!--<sessionState mode="Custom" customProvider="AFCacheSessionStateProvider">
      <providers>
        <add name="AFCacheSessionStateProvider" type="Microsoft.Web.DistributedCache.DistributedCacheSessionStateStoreProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheSessionState"/>
      </providers>
    </sessionState>-->
    <!-- Windows Azure Caching output caching provider -->
    <!--Uncomment this section to use Windows Azure Caching for output caching-->
    <!--<caching>
      <outputCache defaultProvider="AFCacheOutputCacheProvider">
        <providers>
          <add name="AFCacheOutputCacheProvider" type="Microsoft.Web.DistributedCache.DistributedCacheOutputCacheProvider, Microsoft.Web.DistributedCache" cacheName="default" dataCacheClientName="default" applicationName="AFCacheOutputCache" />
        </providers>
      </outputCache>
    </caching>-->
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="AdvWrk-Template" connectionString="Data Source=SHARD_SERVER;Initial Catalog=SHARD_CATALOG;User ID=SHARD_USER;Password=SHARD_PASS;Connection Timeout=30" />
    <add name="tpch-Template" connectionString="Data Source=SHARD_SERVER;Initial Catalog=SHARD_CATALOG;User ID=SHARD_USER;Password=SHARD_PASS;Connection Timeout=30" />
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=http;AccountName=advwrksharding;AccountKey=e020w+jxRlFA52TlcQ88znF0a011R45FSHkIkJ4ksPqogB1UdvNKMZAGSbofIrd3jS7DgSq21oxduKn2GQhIZA==" />
    <!--<add name="AwMainReferenceData" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=AWMain;User ID=Superman;Password=Blank123;Connection Timeout=30" />-->
    <add name="AwMainReferenceData" connectionString="Server=tcp:bbjxep9xxo.database.windows.net,1433;Database=AWMain;User ID=Superman@bbjxep9xxo;Password=Blank123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
  </connectionStrings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <!--Configuration interfaces-->
      <typeAlias alias="IConfigRepository" type="Microsoft.AzureCat.Patterns.Data.Elasticity.Interfaces.IConfigRepository, Microsoft.AzureCat.Patterns.Data.Elasticity, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="ISettingsRepository" type="Microsoft.AzureCat.Patterns.Data.Elasticity.Interfaces.ISettingsRepository, Microsoft.AzureCat.Patterns.Data.Elasticity, Version=1.0.0.0, Culture=neutral" />
      <!--Framework interfaces-->
      <typeAlias alias="ITableGroupDriver" type="Microsoft.AzureCat.Patterns.Data.Elasticity.Interfaces.ITableGroupDriver, Microsoft.AzureCat.Patterns.Data.Elasticity, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="ITenantTableGroupConnectionDriver" type="Microsoft.AzureCat.Patterns.Data.Elasticity.Interfaces.ITenantTableGroupConnectionDriver, Microsoft.AzureCat.Patterns.Data.Elasticity, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="ITableGroupActionQueue" type="Microsoft.AzureCat.Patterns.Data.Elasticity.Interfaces.ITableGroupActionQueue, Microsoft.AzureCat.Patterns.Data.Elasticity, Version=1.0.0.0, Culture=neutral" />
      <!-- Implementations -->
      <typeAlias alias="SqlConfigRepository" type="Microsoft.AzureCat.Patterns.DataElasticity.SQLAzure.SQLConfigRepository, Microsoft.AzureCat.Patterns.DataElasticity.SQLAzure" />
      <typeAlias alias="AzureSettings" type="Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore.AzureSettingsRepository, Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="AzureTableGroupActionQueue" type="Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore.AzureTableGroupActionQueue, Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="AwSalesTableGroupDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.Testing.TableGroups.AdventureWorks.AwSalesTableGroupDriver, Microsoft.AzureCat.Patterns.DataElasticity.Testing.TableGroups, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="tpchWorkloadGroupDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.Testing.TableGroups.TPCH.TpchTableGroupDriver, Microsoft.AzureCat.Patterns.DataElasticity.Testing.TableGroups, Version=1.0.0.0, Culture=neutral" />
      <typeAlias alias="AzureTenantTableGroupConnectionDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore.AzureTenantTableGroupConnectionDriver, Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore, Version=1.0.0.0, Culture=neutral" />
    </typeAliases>
    <container>
      <!--One Implementation for framework-->
      <register type="ISettingsRepository" mapTo="AzureSettings">
        <lifetime type="singleton" />
        <constructor>
          <!--Explicit value child element-->
          <param name="encryptionKey">
            <value value="fOZ832ZBCo69nN5x7FE4YT13a1N7lw47" />
          </param>
        </constructor>
      </register>
      <register type="IConfigRepository" mapTo="SqlConfigRepository">
        <lifetime type="singleton" />
        <constructor>
          <!-- Explicit value child element -->
          <param name="connectionString">
            <!--Replace with your connection-->
            <value value="Data Source=(localdb)\V11.0;Initial Catalog=AWMain;User ID=Superman;Password=Blank123;Connection Timeout=30" />
          </param>
        </constructor>
      </register>
      <register type="IWorkloadGroupActionQueue" mapTo="AzureWorkloadGroupActionQueue">
        <lifetime type="singleton" />
      </register>
      <register type="ITenantWorkloadGroupConnectionDriver" mapTo="AzureTenantWorkloadGroupConnectionDriver">
        <lifetime type="singleton" />
      </register>
      <!--One Implementation per Workload Group (can be the same but must be mapped one per workloadgroup-->
      <register type="IWorkloadGroupDriver" mapTo="AwSalesWorkloadGroupDriver" name="AwSales" />
      <register type="IWorkloadGroupDriver" mapTo="tpchWorkloadGroupDriver" name="tpch" />
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <dataCacheClients>
    <dataCacheClient name="default">
      <!--To use the in-role flavor of Windows Azure Cache, set identifier to be the cache cluster role name -->
      <!--To use the Windows Azure Cache Service, set identifier to be the endpoint of the cache cluster -->
      <autoDiscover isEnabled="true" identifier="CacheWorker" />
      <!--<localCache isEnabled="true" sync="NotificationBased" objectCount="100000" ttlValue="300" />
      <clientNotification pollInterval="60" />-->
      <!--<localCache isEnabled="true" sync="TimeoutBased" objectCount="100000" ttlValue="300" />-->
      <!--Use this section to specify security settings for connecting to your cache. This section is not required if your cache is hosted on a role that is a part of your cloud service. -->
      <!--<securityProperties mode="Message" sslEnabled="false">
        <messageSecurity authorizationInfo="[Authentication Key]" />
      </securityProperties>-->
    </dataCacheClient>
  </dataCacheClients>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>