
/****** RUN THIS FROM SHARD 01 (AdvWrkAWSales000001)  ******/

SELECT [CurrencyRateID]
      ,[CurrencyRateDate]
      ,[FromCurrencyCode]
      ,[ToCurrencyCode]
      ,[AverageRate]
      ,[EndOfDayRate]
FROM 
	[Sales].[CurrencyRate]
