<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="RetryPolicyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration.RetryPolicyConfigurationSettings, Microsoft.Practices.EnterpriseLibrary.TransientFaultHandling.Configuration, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="typeRegistrationProvidersConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.TypeRegistrationProvidersConfigurationSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <RetryPolicyConfiguration defaultRetryStrategy="Incremental Retry Strategy">
    <incremental name="Incremental Retry Strategy" />
    <fixedInterval name="Fixed Interval Retry Strategy" />
    <exponentialBackoff name="Exponential Backoff Retry Strategy" />
  </RetryPolicyConfiguration>
  <typeRegistrationProvidersConfiguration>
    <clear />
    <add name="Caching" sectionName="cachingConfiguration" />
    <add name="Cryptography" sectionName="securityCryptographyConfiguration" />
    <add name="Exception Handling" sectionName="exceptionHandling" />
    <add name="Instrumentation" sectionName="instrumentationConfiguration" />
    <add name="Logging" sectionName="loggingConfiguration" />
    <add name="Policy Injection" sectionName="policyInjection" />
    <add name="Security" sectionName="securityConfiguration" />
    <add name="Data Access" providerType="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSyntheticConfigSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <add name="Validation" providerType="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationTypeRegistrationProvider, Microsoft.Practices.EnterpriseLibrary.Validation" />
    <add name="RetryPolicyConfiguration" sectionName="RetryPolicyConfiguration" />
  </typeRegistrationProvidersConfiguration>
  <connectionStrings>
    <add name="AdvWrk-Template" connectionString="Data Source=SHARD_SERVER;Initial Catalog=SHARD_CATALOG;User ID=SHARD_USER;Password=SHARD_PASS;Connection Timeout=30" />
    <add name="AWSales-Template" connectionString="Data Source=SHARD_SERVER;Initial Catalog=SHARD_CATALOG;User ID=SHARD_USER;Password=SHARD_PASS;Connection Timeout=30" />
    <add name="AzureStorage" connectionString="UseDevelopmentStorage=true" />
    <!--<add name="AzureStorage" connectionString="DefaultEndpointsProtocol=http;AccountName=accountname;AccountKey=accountkey" />-->
    <add name="AwMainReferenceData" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=AWMain;User ID=Superman;Password=Blank123;Connection Timeout=30" />
    <!--<add name="AwMainReferenceData" connectionString="Server=tcp:mydatabase.database.windows.net,1433;Database=AWMain;User ID=Superman;Password=Blank123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
  </connectionStrings>
  <appSettings>
    <add key="TestSQLServer" value="(localdb)\v11.0" />
    <!--<add key="TestSQLServer" value="mydatabase.database.windows.net" />-->
    <!-- controls the publishing threads for parallelism in the Data Elasticity system-->
    <!-- used when the operations are executed directly vs. from one or more worker roles-->
    <!-- 0  - "use default" which is to use the number of processors -->
    <!-- 1  - single threaded -->
    <!-- 2 ..16 - use the number of threads specified -->
    <add key="PublishingThreads" value="1" />
    <add key="ShouldUseAzureCache" value="false" />
    <add key="RedisConnectionString" value="cachename.redis.cache.windows.net,allowAdmin=true,ssl=true,password=password" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <typeAliases>
      <!--Configuration interfaces-->
      <typeAlias alias="IConfigRepository" type="Microsoft.AzureCat.Patterns.DataElasticity.Interfaces.IConfigRepository, Microsoft.AzureCat.Patterns.DataElasticity" />
      <typeAlias alias="ISettingsRepository" type="Microsoft.AzureCat.Patterns.DataElasticity.Interfaces.ISettingsRepository, Microsoft.AzureCat.Patterns.DataElasticity" />
      <!--Framework interfaces-->
      <typeAlias alias="IShardSetDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.Interfaces.IShardSetDriver, Microsoft.AzureCat.Patterns.DataElasticity" />
      <typeAlias alias="IShardSetConnectionDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.Interfaces.IShardSetConnectionDriver, Microsoft.AzureCat.Patterns.DataElasticity" />
      <typeAlias alias="IShardSetActionQueue" type="Microsoft.AzureCat.Patterns.DataElasticity.Interfaces.IShardSetActionQueue, Microsoft.AzureCat.Patterns.DataElasticity" />
      <!-- Implementations -->
      <typeAlias alias="SqlConfigRepository" type="Microsoft.AzureCat.Patterns.DataElasticity.SQLAzure.SQLConfigRepository, Microsoft.AzureCat.Patterns.DataElasticity.SQLAzure" />
      <typeAlias alias="AzureShardSetActionQueue" type="Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore.AzureShardSetActionQueue, Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore" />
      <typeAlias alias="AwSalesShardSetDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.Testing.ShardSets.AdventureWorks.AwSalesShardSetDriver, Microsoft.AzureCat.Patterns.DataElasticity.Testing.ShardSets" />
      <typeAlias alias="AzureShardSetConnectionDriver" type="Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore.AzureShardSetConnectionDriver, Microsoft.AzureCat.Patterns.DataElasticity.AzureTableStore" />
    </typeAliases>
    <container>
      <!--One Implementation for Data Elasticity-->
      <register type="ISettingsRepository" mapTo="SqlConfigRepository">
        <lifetime type="singleton" />
        <constructor>
          <!-- Explicit value child element -->
          <param name="connectionString">
            <!--<value value="Data Source=(localdb)\v11.0;Initial Catalog=AWMain;User ID=Superman;Password=Blank123;Connection Timeout=30" />-->
            <value value="Server=tcp:mydatabase.database.windows.net,1433;Database=AWMain;User ID=Superman;Password=Blank123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          </param>
        </constructor>
      </register>
      <register type="IConfigRepository" mapTo="SqlConfigRepository">
        <lifetime type="singleton" />
        <constructor>
          <!-- Explicit value child element -->
          <param name="connectionString">
            <value value="Data Source=(localdb)\v11.0;Initial Catalog=AWMain;User ID=Superman;Password=Blank123;Connection Timeout=30" />
            <!--<value value="Server=tcp:mydatabase.database.windows.net,1433;Database=AWMain;User ID=Superman;Password=Clark000!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
          </param>
        </constructor>
      </register>
      <register type="IShardSetActionQueue" mapTo="AzureShardSetActionQueue">
        <!--<lifetime type="singleton" />-->
      </register>
      <!--One Implementation per Shard Set (can be the same but must be mapped one per shard set-->
      <register type="IShardSetDriver" mapTo="AwSalesShardSetDriver" name="AWSales" />
      <register type="IShardSetConnectionDriver" mapTo="AzureShardSetConnectionDriver" name="AWSales" />
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
